<style>
    .list-device-wrapper {
        width: 100%;
    }

    .list-device-wrapper tr {
        cursor: pointer;
    }

    .list-device {
        width: 100%;
        background-color: #222222;
    }

    .list-device tr,
    .list-device td,
    .list-device th {
        border-top: solid 1px #ddd4d4;
    }

    .list-device .device-item-td .long-text {
        overflow: auto;
        max-height: 39px;
        position: relative;
        padding-right: 25px;
    }

    .list-device .list-device-header th {
        padding: 5px;
    }

    .list-device .list-device-item-td td {
        padding: 5px;
    }

    .list-node {
        width: 100%;
    }

    .list-node .list-node-header th {
        border: solid 1px #444040;
        padding: 5px;
        text-align: left;
    }

    .list-node .list-node-item td {
        border: solid 1px #444040;
        padding: 5px;
        text-align: left;
    }


    .change-group {
        position: absolute;
        right: 5px;
        padding: 0;
        margin: 0;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
        z-index: 1;
    }
</style>

<div id="page-wrapper">
    <h3 class="main-title"><i class="fa fa-microchip"></i> Danh sách thiết bị</h3>
    {{!-- device table --}}
    <div class="list-device-wrapper" style="overflow-x:auto;">
        <table class="list-device" id="tableDevice">
            <tr class="list-device-header">
                <th nowrap>Serial</th>
                <th nowrap>Tên</th>
                <th nowrap>Loại</th>
                <th nowrap>Nhóm</th>
                <th class="text-right" nowrap>Số FW</th>
                <th class="text-right" nowrap>Số HW</th>
                <th class="text-right" nowrap>Ngày SX</th>
                <th nowrap>Quốc gia</th>
                <th class="text-center" nowrap>Active</th>
                <th style="text-align: right; font-size: 1.5rem;">
                    <button class="controll-button fas fa-plus-square add-new"></button>
                </th>
            </tr>
            {{#each devices as |device|}}
            {{#if_ device.gateway "==" "none"}}
            <tr class="list-device-item-td" id="dev-{{device.sn_number}}" height="40px">
                <td class="device-item-td device-serial" nowrap>
                    <div class="space-beetween">
                        {{#if_ device.device_model "==" "BSGW"}}
                        <button class="controll-button show-node fas fa-plus" value="{{device.sn_number}}"></button>
                        {{else}}
                        <span></span>
                        {{/if_}}
                        <span>
                            {{device.sn_number}}
                        </span>
                    </div>
                </td>
                <td class="device-item-td device-name">
                    <div class="space-beetween">
                        <span>
                            {{device.device_name}}
                        </span>
                        <button class="controll-button show-description fas fa-question-circle" title="Mô tả"
                            data-description="{{device.description}}"></button>
                    </div>
                </td>
                <td class="device-item-td device-type">
                    <div class="long-text hide-scroll">{{device.device_type.device_type}}</div>
                </td>
                <td class="device-item-td device-group">
                    {{#if device.group}}
                    <i class="fas fa-pen change-group" data-serial="{{device.sn_number}}"></i>
                    <div class="long-text hide-scroll">{{device.group.group_name}}</div>
                    {{/if}}
                </td>
                <td class="text-right device-item-td fw-number">{{device.fw_number}}</td>
                <td class="text-right device-item-td hw-number">{{device.hw_number}}</td>
                <td class="text-right device-item-td mfg-date" nowrap>{{device.mfg_date}}</td>
                <td class="device-item-td country">{{device.country}}</td>
                <td class="text-center device-item-td status" nowrap>
                    {{#if device.group._id}}
                    <label class="switch">
                        <input type="checkbox" class="change-status-device" id="active-{{device.sn_number}}"
                            deviceType="{{device.device_model}}" deviceId="{{device._id}}"
                            deviceSerial="{{device.sn_number}}" checked>
                        <span class="slider round"></span>
                    </label>
                    {{else}}
                    <label class="switch">
                        <input type="checkbox" class="change-status-device" id="active-{{device.sn_number}}"
                            deviceType="{{device.device_model}}" deviceId="{{device._id}}"
                            deviceSerial="{{device.sn_number}}">
                        <span class="slider round"></span>
                    </label>
                    {{/if}}
                </td>
                <td class="device-item-td" nowrap>
                    <button class="controll-button fas fa-pen edit" dev-id="{{device._id}}"
                        dev-serial="{{device.sn_number}}" dev-name="{{device.device_name}}"
                        dev-type="{{device.device_type._id}}" dev-fw="{{device.fw_number}}"
                        dev-hw="{{device.hw_number}}" dev-mfg-date="{{device.mfg_date}}"
                        dev-country="{{device.country}}"></button>
                    <button class="controll-button fas fa-trash delete" value="{{device._id}}"
                        dev-serial="{{device.sn_number}}"></button>
                </td>
            </tr>
            {{#if_ device.device_model "==" "BSGW"}}
            <tr class="collapse" id="node-{{device.sn_number}}">
                <td colspan="10">
                    <table class="list-node">
                        <tr class="list-node-header">
                            <th>Serial node</th>
                            <th>Tên node</th>
                            <th>Loại</th>
                            <th>Số FW</th>
                            <th>Số HW</th>
                            <th>Ngày SX</th>
                            <th>Quốc gia</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                        {{#each ../devices as |node|}}
                        {{#if_ node.gateway "==" device.sn_number}}
                        <tr class="list-node-item" id="dev-{{node.sn_number}}">
                            <td class="node-item device-serial">{{node.sn_number}}</td>
                            <td class="node-item device-name">{{node.device_name}}</td>
                            <td class="node-item device-type">{{node.device_type.device_type}}</td>
                            <td class="node-item fw-number">{{node.fw_number}}</td>
                            <td class="node-item hw-number">{{node.hw_number}}</td>
                            <td class="node-item mfg-date">{{node.mfg_date}}</td>
                            <td class="node-item country">{{node.country}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" class="change-status-device" id="active-{{node.sn_number}}"
                                        deviceType="{{node.device_model}}" deviceId="{{node._id}}"
                                        deviceSerial="{{node.sn_number}}" checked>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="node-item">
                                <button class="controll-button fas fa-pen edit" dev-id="{{node._id}}"
                                    dev-serial="{{node.sn_number}}" dev-name="{{node.device_name}}"
                                    dev-type="{{node.device_type._id}}" dev-fw="{{node.fw_number}}"
                                    dev-hw="{{node.hw_number}}" dev-mfg-date="{{node.mfg_date}}"
                                    dev-country="{{node.country}}"></button>
                                <button class="controll-button fas fa-trash delete" dev-serial="{{node.sn_number}}"
                                    value="{{node._id}}"></button>
                            </td>
                        </tr>
                        {{/if_}}
                        {{/each}}
                    </table>
                </td>
            </tr>
            {{/if_}}
            {{/if_}}
            {{/each}}
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="mainModal">
    <div class="modal-dialog radius-none" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deviceId">
                <p style="display: none;" id="topModal"></p>
                <div class="input-group">
                    <label class="input-group-addon radius-none" for="deviceSerial">Serial thiết bị</label>
                    <input type="text" class="form-control text-dark radius-none text-bold" id="deviceSerial"
                        placeholder="Serial thiết bị không chứa tiền tố ( AHSD, BSGW ... )" autocomplete="off">
                </div>
                <p class="err-msg" id="err-deviceSerial" style="display: none;"></p>
                <div class="input-group">
                    <label class="input-group-addon radius-none" for="deviceName">Tên thiết bị</label>
                    <input type="text" class="form-control text-dark radius-none text-bold" id="deviceName"
                        placeholder="Tên thiết bị" autocomplete="off">
                </div>
                <p class="err-msg" id="err-deviceName" style="display: none;"></p>
                <div class="input-group">
                    <label class="input-group-addon radius-none" for="deviceType">Loại</label>
                    <select id="deviceType" class="form-control radius-none text-dark text-bold">
                        {{#each device_types as |deviceType|}}
                        <option class="text-dark text-bold" dev-model="{{deviceType.prefix}}"
                            value="{{deviceType._id}}">{{deviceType.device_type}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <p class="err-msg" id="err-deviceType" style="display: none;"></p>

                <div class="input-group">
                    <label class="input-group-addon radius-none" for="deviceFw">Số firmware</label>
                    <input type="text" class="form-control text-dark radius-none text-bold" id="deviceFw"
                        placeholder="Số firmware" autocomplete="off">
                </div>
                <p class="err-msg" id="err-deviceFw" style="display: none;"></p>

                <div class="input-group">
                    <label class="input-group-addon radius-none" for="deviceHw">Số hardware</label>
                    <input type="text" class="form-control text-dark radius-none text-bold" id="deviceHw"
                        placeholder="Số hardware" autocomplete="off">
                </div>
                <p class="err-msg" id="err-deviceHw" style="display: none;"></p>

                <div class="input-group">
                    <label class="input-group-addon radius-none" for="deviceCountry">Nơi sản xuất</label>
                    <input type="text" class="form-control text-dark radius-none text-bold" id="deviceCountry"
                        placeholder="Nơi sản xuất" autocomplete="off">
                </div>
                <p class="err-msg" id="err-deviceCountry" style="display: none;"></p>

                <div class="input-group">
                    <label class="input-group-addon radius-none" for="deviceMfgDate">Ngày sản xuất</label>
                    <input type="date" class="form-control text-dark radius-none text-bold" id="deviceMfgDate"
                        placeholder="Ngày sản xuất" autocomplete="off">
                </div>
                <p class="err-msg" id="err-deviceMfgDate" style="display: none;"></p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalSubmit" submit-type="none">Gửi</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalCancel">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="activeDeviceModal">
    <div class="modal-dialog radius-none" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kích hoạt thiết bị</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deviceId">
                <p class="modal-msg"></p>
                <div class="input-group  device-active-gateway">
                    <label class="input-group-addon radius-none" for="deviceActiveGateway">Gateway serial</label>
                    <select id="deviceActiveGateway" class="form-control radius-none text-dark text-bold">
                        {{#each devices as |device|}}
                        {{#if_ device.device_model "==" "BSGW"}}
                        <option class="text-dark text-bold" value="{{device.sn_number}}">
                            {{device.sn_number}}
                        </option>
                        {{/if_}}
                        {{/each}}
                    </select>
                </div>
                <div class="input-group device-active-group">
                    <label class="input-group-addon radius-none" for="deviceActiveGroup">Nhóm thiết bị</label>
                    <select id="deviceActiveGroup" class="form-control radius-none text-dark text-bold">
                        {{#each groups as |group|}}
                        <option class="text-dark text-bold" value="{{group._id}}">
                            {{group.group_name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="activeModalSubmit" submit-type="none">Xác
                    nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="activeModalCancel">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="changeDeviceGroupModal">
    <div class="modal-dialog radius-none" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi nhóm thiết bị</h5>
            </div>
            <div class="modal-body">
                <div class="input-group device-active-group">
                    <label class="input-group-addon radius-none" for="changeDeviceListGroup">Nhóm thiết bị</label>
                    <select id="changeDeviceListGroup" class="form-control radius-none text-dark text-bold">
                        {{#each groups as |group|}}
                        <option class="text-dark text-bold" value="{{group._id}}">
                            {{group.group_name}}
                        </option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="changeDeviceGroupModalSubmit" submit-type="none">Xác
                    nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    id="changeDeviceGroupModalCancel">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    // collapse list node of basic gateway
    $(document).on('click', '.show-node', function () {
        var idNode = `#node-${$(this).val()}`;
        $(idNode).toggleClass('collapse');
        $(this).toggleClass('fa-plus fa-minus');
    })

    //event click row table
    $(document).on('click', '.list-device-item-td, .list-node-item', function () {
        $('.list-device-item-td').removeClass('row-active');
        $('.list-node-item').removeClass('row-active');
        $(this).toggleClass('row-active');
    })

    //Contrain validate js
    var constraints = {
        deviceName: {
            presence: { allowEmpty: false, message: ': Tên thiết bị không được để trống' },
            length: { minimum: 5, maximum: 20, message: ': Tên thiết bị phải từ 5 đến 20 ký tự' },
        },
        deviceType: {
            presence: { allowEmpty: false, message: ': Phải chọn loại thiết bị' },
        },
        deviceModel: {
            presence: { allowEmpty: false, message: ': Model thiết bị không được để trống' },
        },
        deviceSerial: {
            presence: { allowEmpty: false, message: ': Serial thiết bị không được để trống' },
            length: { minimum: 5, message: ': Serial thiết bị phải từ 5 ký tự' },
        },
        deviceFw: {
            presence: { allowEmpty: false, message: ':Số Firmware thiết bị không được để trống' },
        },
        deviceHw: {
            presence: { allowEmpty: false, message: ':Số Hardware thiết bị không được để trống' },
        },
        deviceMfgDate: {
            presence: { allowEmpty: false, message: ': Ngày sản xuất thiết bị không được để trống' },
        },
        deviceCountry: {
            presence: { allowEmpty: false, message: ': Nơi sản xuất không được để trống' },
        }
    };

    //Create modal edit device
    $(document).on("click", '.edit', function () {
        $('.err-msg').hide();
        var deviceId = $(this).attr('dev-id');
        var serial = $(this).attr('dev-serial');
        var deviceName = $(this).attr('dev-name');
        var devicetype = $(this).attr('dev-type');
        var fw = $(this).attr('dev-fw');
        var hw = $(this).attr('dev-hw');
        var country = $(this).attr('dev-country');
        var mfgDate = $(this).attr('dev-mfg-date');
        $('#mainModal input').val('');

        $('#mainModal .modal-title').html('Sửa thông tin thiết bị');
        $('#deviceId').val(deviceId);
        $('#deviceSerial').val(serial);
        $('#deviceSerial').attr('readonly', 'readonly');
        $('#deviceName').val(deviceName);
        $('#deviceName').removeAttr('readonly');
        $('#deviceType').attr('disabled', 'disabled');
        $('#deviceType option[value="' + devicetype + '"]').attr('selected', 'selected');
        $('#deviceFw').val(fw);
        $('#deviceHw').val(hw);
        $('#deviceCountry').val(country);
        $('#deviceMfgDate').val(mfgDate);
        $('#modalSubmit').html('Lưu thay đổi');
        $('#modalSubmit').attr('submit-type', 'edit');
        $('#mainModal').modal('show');
    })

    //create modal add device
    $('.add-new').on('click', function () {
        $('.err-msg').hide();
        $('#mainModal .modal-title').html('Đăng ký thiết bị');
        $('#mainModal input').val('');
        $('#modalSubmit').html('Đăng ký thiết bị');
        $('#deviceSerial').removeAttr('readonly');
        $('#deviceName').attr('readonly', 'readonly');
        $('#deviceType').removeAttr('disabled');
        $('#modalSubmit').attr('submit-type', 'add-new');
        $('#mainModal').modal('show');
    })

    // event submit modal
    //CallApi(url = '', data = {}, method = 'POST')
    //alertAction('success', 'Sửa thiết bị thành công! ');
    //$('#mask').show();
    $('#modalSubmit').on('click', function () {
        $('.err-msg').hide();
        var submitType = $(this).attr('submit-type');

        if (submitType == 'edit') {
            var deviceId = $('#deviceId').val().trim();
            var deviceName = $('#deviceName').val().trim();
            var deviceModel = $('#deviceType option:selected').attr('dev-model').trim();
            var deviceType = $('#deviceType').val().trim();
            var deviceFw = $('#deviceFw').val().trim();
            var deviceHw = $('#deviceHw').val().trim();
            var deviceCountry = $('#deviceCountry').val().trim();
            var deviceMfgDate = $('#deviceMfgDate').val().trim();

            var validation = validate({ deviceSerial: "serial", deviceName, deviceModel, deviceType, deviceFw, deviceHw, deviceCountry, deviceMfgDate }, constraints);
            if (validation) {
                Object.keys(validation).forEach(key => {
                    var errMsgId = '#err-' + key;
                    $(errMsgId).html(validation[key][0]);
                    $(errMsgId).show();
                });
                return;
            }

            var url = '/device/update/' + deviceId;
            var data = { device_name: deviceName, device_model: deviceModel, device_type: deviceType, fw_number: deviceFw, hw_number: deviceHw, mfg_date: deviceMfgDate, country: deviceCountry };
            var method = 'PUT';
            $('#mask').show();

            var updateDevice = CallApi(url, data, method).then((response) => {
                var status = response.status;
                if (status == 'success') {
                    var DeviceElemId = '#dev-' + response.device.sn_number;
                    $(DeviceElemId + ' .device-name').html(response.device.device_name);
                    $(DeviceElemId + ' .device-type').html(response.device.device_type.device_type);
                    $(DeviceElemId + ' .device-group').html(response.device.group.group_name);
                    $(DeviceElemId + ' .fw-number').html(response.device.fw_number);
                    $(DeviceElemId + ' .hw-number').html(response.device.hw_number);
                    $(DeviceElemId + ' .mfg-date').html(response.device.mfg_date);
                    $(DeviceElemId + ' .mfg-country').html(response.device.country);
                    $(DeviceElemId + ' .edit').attr({
                        "dev-name": response.device.device_name,
                        "dev-type": response.device.device_type.device_type,
                        "dev-fw": response.device.fw_number,
                        "dev-hw": response.device.hw_number,
                        "dev-mfg-date": response.device.mfg_date,
                        "dev-country": response.device.country
                    });
                    $('#mask').hide();
                    $('#mainModal').modal('hide');
                    alertAction(status, 'Sửa thiết bị thành công! ');
                } else {
                    $('#mask').hide();
                    alertAction(status, 'Sửa thiết bị không thành công');
                }
                console.log(response);
            }).catch((err) => {
                $('#mask').hide();
                alertAction(status, 'Lỗi không xác định');
            }).finally(() => {
                $('#mask').hide();
            })

        } else if (submitType == 'add-new') {
            $('.err-msg').hide();

            var deviceId = $('#deviceId').val().trim();
            var deviceSerial = $('#deviceSerial').val().trim();
            var deviceName = $('#deviceName').val().trim();
            var deviceModel = $('#deviceType option:selected').attr('dev-model').trim();
            var deviceTypeText = $('#deviceType option:selected').text().trim();
            var deviceType = $('#deviceType').val().trim();
            var deviceFw = $('#deviceFw').val().trim();
            var deviceHw = $('#deviceHw').val().trim();
            var deviceCountry = $('#deviceCountry').val().trim();
            var deviceMfgDate = $('#deviceMfgDate').val().trim();

            var validation = validate({ deviceSerial: deviceSerial, deviceName: 'devicename', deviceModel, deviceType, deviceFw, deviceHw, deviceCountry, deviceMfgDate }, constraints);
            if (validation) {
                Object.keys(validation).forEach(key => {
                    var errMsgId = '#err-' + key;
                    $(errMsgId).html(validation[key][0]);
                    $(errMsgId).show();
                });
                return;
            }
            var url = '/device/register-device';
            var data = { Serial: deviceModel + deviceSerial, Fw: deviceFw, Hw: deviceHw, Date: deviceMfgDate, Country: deviceCountry };
            var method = 'POST';
            $('#mask').show();

            var regDevice = CallApi(url, data, method).then((response) => {
                var status = response.status;
                var device = response.device;
                if (status == 'success') {
                    var html;
                    if (device.device_model == "BSGW") {
                        html = `<tr class="list-device-item-td" id="dev-${device.sn_number}">
                                    <td class="device-item-td device-serial" nowrap>
                                        ${device.sn_number}
                                        <button class="controll-button show-node fas fa-plus" value="${device.sn_number}"></button>
                                    </td>
                                    <td class="device-item-td device-name">${device.device_name}</td>
                                    <td class="device-item-td device-type">${deviceTypeText}</td>
                                    <td class="device-item-td device-group"></td>
                                    <td class="device-item-td fw-number">${device.fw_number}</td>
                                    <td class="device-item-td hw-number">${device.hw_number}</td>
                                    <td class="device-item-td mfg-date" nowrap>${device.mfg_date}</td>
                                    <td class="device-item-td country">${device.country}</td>
                                    <td class="device-item-td status" nowrap>
                                        <label class="switch">
                                            <input type="checkbox" class="change-status-device" deviceType="${device.device_model}"
                                                deviceSerial="${device._id}">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td class="device-item-td" nowrap>
                                        <button class="controll-button fas fa-pen edit" dev-id="${device._id}"
                                            dev-serial="${device.sn_number}" dev-name="${device.device_name}"
                                            dev-type="${device.device_type}" dev-fw="${device.fw_number}"
                                            dev-hw="${device.hw_number}" dev-mfg-date="${device.mfg_date}"
                                            dev-country="${device.country}"></button>
                                        <button class="controll-button fas fa-trash delete" value="${device._id}" dev-serial="${device.sn_number}"></button>
                                    </td>
                                </tr>
                                <tr class="collapse" id="node-${device.sn_number}">
                                    <td colspan="10">
                                        <table class="list-node">
                                            <tr class="list-node-header">
                                                <th></th>
                                                <th>Serial node</th>
                                                <th>Tên node</th>
                                                <th>Loại</th>
                                                <th>Số FW</th>
                                                <th>Số HW</th>
                                                <th>Ngày SX</th>
                                                <th>Quốc gia</th>
                                                <th>Active</th>
                                                <th></th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>`;
                        $('#deviceActiveGateway').append(`<option class="text-dark text-bold" value="${device.sn_number}">${device.sn_number}</option>`)
                    } else {
                        html = `<tr class="list-device-item-td" id="dev-${device.sn_number}">
                            <td class="device-item-td device-serial" nowrap>
                                ${device.sn_number}
                            </td>
                            <td class="device-item-td device-name">${device.device_name}</td>
                            <td class="device-item-td device-type">${deviceTypeText}</td>
                            <td class="device-item-td device-group"></td>
                            <td class="device-item-td fw-number">${device.fw_number}</td>
                            <td class="device-item-td hw-number">${device.hw_number}</td>
                            <td class="device-item-td mfg-date" nowrap>${device.mfg_date}</td>
                            <td class="device-item-td country">${device.country}</td>
                            <td class="device-item-td status" nowrap>
                                <label class="switch">
                                    <input type="checkbox" class="change-status-device" deviceType="${device.device_model}"
                                        deviceSerial="${device._id}">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="device-item-td" nowrap>
                                <button class="controll-button fas fa-pen edit" dev-id="${device._id}"
                                    dev-serial="${device.sn_number}" dev-name="${device.device_name}"
                                    dev-type="${device.device_type}" dev-fw="${device.fw_number}"
                                    dev-hw="${device.hw_number}" dev-mfg-date="${device.mfg_date}"
                                    dev-country="${device.country}"></button>
                                <button class="controll-button fas fa-trash delete" value="${device._id}" dev-serial="${device.sn_number}"></button>
                            </td>
                        </tr>`;
                    }
                    $('#tableDevice tr:first').after(html);
                    $('#mask').hide();
                    $('#mainModal').modal('hide');
                    alertAction(status, 'Đăng ký thiết bị thành công! ');
                } else {
                    $('#mask').hide();
                    alertAction(status, 'Đăng ký thiết bị không thành công');
                }
            }).catch((err) => {
                $('#mask').hide();
                alertAction(status, err);
            }).finally(() => {
                $('#mask').hide();
            })
        }
    });

    //delete thiết bị
    $(document).on("click", '.delete', function () {
        var deviceSerial = $(this).attr('dev-serial');
        var deviceId = $(this).val();
        var checkActive = $('#active-' + deviceSerial).is(':checked');
        if (checkActive) {
            $('#noticeModal .modal-title').html('Xoá thiết bị');
            $('#noticeModal .modal-body').html('Deactive thiết bị trước khi xoá');
            $('#noticeModalSubmit').hide();
            $('#noticeModal').modal('show');
            return;
        } else {
            $('#noticeModal .modal-body').html('Nhập serial thiết bị sau để xoá</br>' + deviceSerial + '</br></br><input type="text" class="form-control" id="repeatDeviceSerial" placeholder="Serial">');
            $('#noticeModalSubmit').html('Xoá thiết bị');
            $('#noticeModalSubmit').attr('disabled', 'disabled');
            $('#noticeModalSubmit').show();
            $('#noticeModal').modal('show');
            $('#repeatDeviceSerial').keyup(function () {
                if ($(this).val() == deviceSerial) {
                    $('#noticeModalSubmit').removeAttr('disabled');
                } else {
                    $('#noticeModalSubmit').attr('disabled', 'disabled');
                }
            })
            $('#noticeModalSubmit').on('click', function () {
                var url = '/device/delete/' + deviceId;
                var data = {};
                var method = 'DELETE';
                $('#mask').show();

                var regDevice = CallApi(url, data, method).then((response) => {
                    var status = response.status;
                    if (status == 'success') {
                        $('#dev-' + deviceSerial).remove();
                        $('#deviceActiveGateway option[value="' + deviceSerial + '"]').remove();
                        $('#mask').hide();
                        $('#noticeModal').modal('hide');
                        alertAction(status, 'Xoá thiết bị thành công! ');
                    } else {
                        $('#mask').hide();
                        alertAction(status, 'Xoá thiết bị không thành công');
                    }
                }).catch((err) => {
                    $('#mask').hide();
                    alertAction(status, err);
                }).finally(() => {
                    $('#mask').hide();
                })
            });
        }
    })

    //active event
    $(document).on("click", '.change-status-device', function (e) {
        e.preventDefault();
        var typeDeviceActive = $(this).attr('deviceType').slice(0, 2);
        var deviceId = $(this).attr('deviceId');
        var deviceSerial = $(this).attr('deviceSerial');
        var checkedStatus = $(this).is(':checked');
        if ($(this).attr('deviceType') == 'BSGW') {
            var countNode = $('#node-' + deviceSerial + ' tr').length;
            if (countNode > 1) {
                alertAction('failure', 'deactive tất cả node trước khi deactive thiết bị! ');
                return;
            }
        }

        $('#activeModalSubmit').attr('type-submit', '');
        $('#activeModalSubmit').attr('device-serial', deviceSerial);
        $('#activeModalSubmit').attr('device-id', deviceId);

        $('#activeDeviceModal .device-active-group').hide();
        $('#activeDeviceModal .device-active-gateway').hide();
        console.log(checkedStatus)
        if (checkedStatus == false) {
            if (typeDeviceActive == 'NO') {
                $('#activeDeviceModal .modal-title').html('Huỷ kích hoạt Node gateway');
                $('#activeDeviceModal .modal-msg').html('Xác nhận huỷ kích hoạt node khỏi gateway ?');
                $('#activeModalSubmit').attr('type-submit', 'deactiveNode');

                $('#activeDeviceModal').modal('show');
            } else {
                $('#activeDeviceModal .modal-title').html('Huỷ kích hoạt thiết bị');
                $('#activeDeviceModal .modal-msg').html('Xác nhận huỷ kích hoạt thiết bị khỏi nhóm ?');
                $('#activeModalSubmit').attr('type-submit', 'deactiveDevice');

                $('#activeDeviceModal').modal('show');
            }
        } else {
            if (typeDeviceActive == 'NO') {
                $('#activeDeviceModal .modal-title').html('kích hoạt Node gateway');
                $('#activeDeviceModal .modal-msg').html('Chọn gateway: ');
                $('#activeDeviceModal .device-active-gateway').show();
                $('#activeModalSubmit').attr('type-submit', 'activeNode');

                $('#activeDeviceModal').modal('show');
            } else if (checkedStatus == true) {
                $('#activeDeviceModal .modal-title').html('kích hoạt thiết bị');
                $('#activeDeviceModal .modal-msg').html('Chọn nhóm thiết bị: ');
                $('#activeDeviceModal .device-active-group').show();
                $('#activeModalSubmit').attr('type-submit', 'activeDevice');
                $('#activeDeviceModal').modal('show');
            }
        }
    });

    $('#activeModalSubmit').on('click', function () {
        var deviceSerial = $(this).attr('device-serial');
        var deviceId = $(this).attr('device-id');
        var activeGroup = $('#deviceActiveGroup').val();
        var groupName = $('#deviceActiveGroup option:selected').text();
        var activeGateway = $('#deviceActiveGateway').val();
        var typeSubmit = $(this).attr('type-submit');

        if (typeSubmit == 'deactiveDevice') {
            var url = '/device/deactivate-device';
            var data = { serial: deviceSerial, token: 'not_using' };
            var method = 'POST';
            $('#mask').show();

            var regDevice = CallApi(url, data, method).then((response) => {
                var status = response.status;
                console.log(response);
                if (status == 'success') {
                    $('#active-' + deviceSerial).prop('checked', false);
                    $('#dev-' + deviceSerial + ' .device-group').html('');
                    $('#mask').hide();
                    $('#activeDeviceModal').modal('hide');
                    alertAction(status, 'deactive thiết bị thành công! ');
                } else {
                    $('#mask').hide();
                    alertAction(status, response.errors[0].msg);
                    $('#activeDeviceModal').modal('hide');
                }
            }).catch((err) => {
                $('#mask').hide();
                alertAction(status, err);
            }).finally(() => {
                $('#mask').hide();
            })
        } else if (typeSubmit == 'activeDevice') {
            var url = '/device/active-device';
            var data = { serial: deviceSerial, group: activeGroup, token: 'not_using' };
            var method = 'POST';
            $('#mask').show();

            var regDevice = CallApi(url, data, method).then((response) => {
                var status = response.status;
                console.log(response);
                if (status == 'success') {
                    $('#active-' + deviceSerial).prop('checked', true);
                    $('#dev-' + deviceSerial + ' .device-group').html(groupName);
                    $('#mask').hide();
                    $('#activeDeviceModal').modal('hide');
                    alertAction(status, 'Active thiết bị thành công! ');
                } else {
                    $('#mask').hide();
                    alertAction(status, response.errors[0].msg);
                    $('#activeDeviceModal').modal('hide');
                }
            }).catch((err) => {
                $('#mask').hide();
                alertAction(status, err);
            }).finally(() => {
                $('#mask').hide();
            })
        } else if (typeSubmit == 'activeNode') {
            var url = '/device/active-node';
            var data = { serial: deviceSerial, gate_way: activeGateway, token: GetTocken(deviceSerial) };
            var method = 'POST';
            var nodeElementId = '#dev-' + deviceSerial;

            $('#mask').show();
            var regDevice = CallApi(url, data, method).then((response) => {
                var status = response.status;
                if (status == 'success') {
                    var nodeElement = $(nodeElementId);
                    nodeElement.find('.device-group').remove()
                    var html = '<tr class="list-node-item" id=dev-' + deviceSerial + '>' + nodeElement.html() + '</tr>';
                    nodeElement.remove()
                    console.log(html);
                    $('#node-' + activeGateway + ' tbody').append(html);
                    $('#active-' + deviceSerial).prop('checked', true);
                    $('#mask').hide();
                    $('#activeDeviceModal').modal('hide');
                    alertAction(status, 'Active thiết bị thành công! ');
                } else {
                    $('#mask').hide();
                    alertAction(status, response.errors[0].msg);
                    $('#activeDeviceModal').modal('hide');
                }
            }).catch((err) => {
                $('#mask').hide();
                alertAction(status, err);
            }).finally(() => {
                $('#mask').hide();
            })
        } else if (typeSubmit == 'deactiveNode') {
            var url = '/device/deactivate-node';
            var data = { serial: deviceSerial, token: GetTocken(deviceSerial) };
            var method = 'POST';
            var nodeElementId = '#dev-' + deviceSerial;

            $('#mask').show();
            var regDevice = CallApi(url, data, method).then((response) => {
                var status = response.status;
                if (status == 'success') {
                    var nodeElement = $(nodeElementId);
                    nodeElement.find('.device-type').after('<td class="device-item-td device-group"></td>')
                    var html = '<tr class="list-device-item-td" id=dev-' + deviceSerial + '>' + nodeElement.html() + '</tr>';
                    nodeElement.remove()
                    console.log(html);
                    $('#tableDevice > tbody').append(html);
                    $('#active-' + deviceSerial).prop('checked', false);
                    $('#mask').hide();
                    $('#activeDeviceModal').modal('hide');
                    alertAction(status, 'Active thiết bị thành công! ');
                } else {
                    $('#mask').hide();
                    alertAction(status, response.errors[0].msg);
                    $('#activeDeviceModal').modal('hide');
                }
            }).catch((err) => {
                $('#mask').hide();
                alertAction(status, err);
            }).finally(() => {
                $('#mask').hide();
            })
        }
    })
    // change device group
    $(document).on('click', '.change-group', function () {
        var serial = $(this).data('serial');
        var currGroupName = $(this).siblings('div');
        $('#changeDeviceGroupModalSubmit').data({ serial, currGroupName });
        $('#changeDeviceGroupModal').modal('show');
    })

    $(document).on('click', '#changeDeviceGroupModalSubmit', function () {
        var serial = $(this).data('serial');
        var groupId = $('#changeDeviceListGroup').val();
        var groupName = $('#changeDeviceListGroup option:selected').text();
        var currGroupName = $(this).data('currGroupName');

        var url = '/device/change-device-group';
        var data = { serial, groupId };
        var method = 'POST';
        $('#mask').show();

        var regDevice = CallApi(url, data, method).then((response) => {
            var status = response.status;
            if (status == 'success') {
                currGroupName.text(groupName);
                $('#mask').hide();
                $('#changeDeviceGroupModal').modal('hide');
                alertAction(status, 'Đổi nhóm thiết bị thành công! ');
            } else {
                $('#mask').hide();
                alertAction(status, response.errors[0].msg);
                $('#changeDeviceGroupModal').modal('hide');
            }
        }).catch((err) => {
            $('#mask').hide();
            alertAction(status, err);
        }).finally(() => {
            $('#mask').hide();
        })
    })
</script>